.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar{
  /* background-color: #A5A6F6 !important; */
  background-color: transparent !important;
}

.form-plant{
  max-height: 20 vh;
  margin-top: 40px;
  background-color: #A5A6F6;
  border: 1px solid black;
  border-radius: 5px;
  padding: 40px 50px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.705);
}

.blockList{
  background: white;
  margin-top: 10px;
  z-index: 9;
  position: absolute;
  width: 24.5%;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 0 20px 1px ;

}
.blockList div{
  margin: 10px;
  cursor: pointer;
}

.form-control{
  width: 300px !important;
  border-radius: 10px !important;
  box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.705);
}

.buscador{
  width: 500px !important;
}

.btn-busc{
  border-radius: 10px !important;
}

.dist2{
  display: flex;
  width: 700px;
  justify-content: space-between;
}

.dist{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.cent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table{
  /* background-color: rgb(54, 48, 48) !important; */
  border-radius: 20px !important;
  border: 5px solid black p !important;
  width: 800px !important;
}
.letrasBlancas{
  color: white !important;
}

.curvo{
  padding: 15px 30px;
  border-radius: 5px;
  /* background-color: rgb(54, 48, 48) !important; */
  border: 1px solid rgba(0, 0, 0, 0.397);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.308);
}

.btn{
  border: 1px solid black !important;
}
.contenedor{
  margin-right: 10rem;
  color: white;
  display: flex;
  flex-direction: column;
}

.contenedor2{
  width: 40%;
  margin-right: 10rem;
  height: 2rem;
  font-size: 10em;
}
.siderbar{
  width: 50%;
  height: 15rem;
}
.line{
  border-left: 6px solid grey;
  height: 15rem;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.PadreLogin{
  height: 100vh;
  display: flex;
  align-items: center;
}
.Padre{
  min-height: 100vh; 
}
.centrando{
  display: flex;
  align-items: center;
}

.pColor{
  background-color: rgb(54, 48, 48) !important;
  color: white;
  opacity: 0.9;
  font-weight: bold;
}
.pColor1{
  background-color: rgb(185, 171, 171) !important;
  opacity: 0.9;
  font-weight: bold;
}
